$vendor = true

@import '../config';


/*Eric Meyers CSS reset  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;


/* HTML5 display definitions */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
    display: block;

audio,
canvas,
video
    display: inline-block;

audio:not([controls])
    display: none;

[hidden]
    display: none;


/* Base elements style */

html
    -webkit-text-size-adjust: 100% if not ie;
    -ms-text-size-adjust: 100%;

html,
button,
input,
select,
textarea
    font-family: $baseFontFamily;
    color: $baseTextColor;

body
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    background: $baseBackground;

::-moz-selection
    background: $selectionBG;
    text-shadow: none;

::selection
    background: $selectionBG;
    text-shadow: none;


/* Links */

a:focus
    outline: thin dotted;

a:hover,
a:active
    outline: 0;


/* Embedded content */

img
    vertical-align: middle;
    -ms-interpolation-mode: bicubic if ie;

svg:not(:root)
    overflow: hidden;


/* Lists */

ul
    list-style: none;


/* Forms */

legend
    white-space: normal;
    margin-left: -7px if ie;

button,
input,
select,
textarea
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline if not ie;
    vertical-align: middle if ie;

button,
input
    line-height: normal;

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
    cursor: pointer;
    -webkit-appearance: button if not ie;
    overflow: visible if ie;

button[disabled],
input[disabled]
    cursor: default;

input[type="checkbox"],
input[type="radio"]
    box-sizing: border-box;
    padding: 0;
    width: 13px if ie;
    height: 13px if ie;

input[type="search"]
    -webkit-appearance: textfield if not ie;
    box-sizing: content-box;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button
     -webkit-appearance: none if not ie;

button::-moz-focus-inner,
input::-moz-focus-inner
     border: 0;
     padding: 0;

textarea
    overflow: auto;
    vertical-align: top;
    resize: vertical;


/* Tables */

table
    border-collapse: collapse;
    border-spacing: 0;

td
    vertical-align: top;


/* Typography */

abbr[title]
    border-bottom: 1px dotted;

b,
strong
    font-weight: bold;

dfn,
em,
i
    font-style: italic;

hr
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $baseHrColor;
    margin: $baseLineHeight 0;
    padding: 0;

pre,
code,
kbd,
samp
    font-family: $fontMono;
    font-size: 1em;

pre
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;

sub,
sup
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;

sup
    top: -0.5em;

sub
    bottom: -0.25em;

blockquote,
q
    quotes: none;

blockquote:before,
blockquote:after,
q:before,
q:after
    content: "";
    content: none;
