@import '../config';

.b-text {}

.b-text p, .b-text-p {
    margin-bottom: textBottomMargin;
    font-family: baseFontFamily;
    font-size: baseFontSize;
    line-height: baseLineHeight;
}

// Headers

.b-text h1, .b-text-h1,
.b-text h2, .b-text-h2,
.b-text h3, .b-text-h3,
.b-text h4, .b-text-h4,
.b-text h5, .b-text-h5,
.b-text h6, .b-text-h6 {
    text-rendering: optimizelegibility;
    margin-top: baseLineHeight;
    margin-bottom: textBottomMargin;
}

.b-text h1 a, .b-text-h1 a,
.b-text h2 a, .b-text-h2 a,
.b-text h3 a, .b-text-h3 a,
.b-text h4 a, .b-text-h4 a,
.b-text h5 a, .b-text-h5 a,
.b-text h6 a, .b-text-h6 a {
    color: textHeaderLinkColor;
    text-decoration: textHeaderLinkStyle;
}

.b-text h1:first-child, .b-text-h1:first-child,
.b-text h2:first-child, .b-text-h2:first-child,
.b-text h3:first-child, .b-text-h3:first-child,
.b-text h4:first-child, .b-text-h4:first-child,
.b-text h5:first-child, .b-text-h5:first-child,
.b-text h6:first-child, .b-text-h6:first-child {
    margin-top: 0;
}


.b-text h1, .b-text-h1 {
    font: textH1FontWeight textH1FontSize/textH1LineHeight textH1FontFamily;
    color: textH1Color;
    textH1Mixin();
}

.b-text h2, .b-text-h2 {
    font: textH2FontWeight textH2FontSize/textH2LineHeight textH2FontFamily;
    color: textH2Color;
    textH2Mixin()
}

.b-text h3, .b-text-h3 {
    font: textH3FontWeight textH3FontSize/textH3LineHeight textH3FontFamily;
    color: textH3Color;
    textH3Mixin()
}

.b-text h4, .b-text-h4 {
    font: textH4FontWeight textH4FontSize/textH4LineHeight textH4FontFamily;
    color: textH4Color;
    textH4Mixin()
}

.b-text h5, .b-text-h5 {
    font: textH5FontWeight textH5FontSize/textH5LineHeight textH5FontFamily;
    color: textH5Color;
    textH5Mixin()
}

.b-text h6, .b-text-h6 {
    font: textH6FontWeight textH6FontSize/textH6LineHeight textH6FontFamily;
    color: textH6Color;
    textH6Mixin()
}


// Lists

.b-text ul,
.b-text ol {
    padding: 0;
    margin: 0 0 textBottomMargin baseLineHeight*1.5;
}

.b-text ul ul,
.b-text ul ol,
.b-text ol ol,
.b-text ol ul {
    margin-bottom: 0;
}

.b-text ul {
    list-style: none;
}

.b-text ul > li:before
 {
     content: '\2014\a0';
     float: left;
     margin-left: -1.25em;
 }

.b-text ol {
    list-style: decimal;
}

.b-text li {
    line-height: baseLineHeight;
}

// Description Lists
.b-text dl {
    margin-bottom: textBottomMargin;
}

.b-text dt,
.b-text dd {
    line-height: baseLineHeight;
}

.b-text dt {
    font-weight: bold;
    line-height: baseLineHeight - 1; // fix jank Helvetica Neue font bug
}

.b-text dd {
    margin-left: baseLineHeight;
}

// Emphasis

.b-text abbr[title] {
    cursor: help;
    border-bottom: 1px dotted;
}

.b-text pre {
    padding: (baseLineHeight/2) baseLineHeight;
    margin-bottom: textBottomMargin;
    textPreMixin();
}

.b-text blockquote {
    padding: baseLineHeight;
    margin-bottom: textBottomMargin;
    border-left: 5px solid #000;
    textBlockquoteMixin();
}


.b-text q:before {}
.b-text q:after {}
.b-text blockquote:before {}
.b-text blockquote:after {}

.b-text small {
    font-size: .85em;
}

.b-text table {
    margin-bottom: textBottomMargin;
}

.b-text th,
.b-text td {
    font-size: textTableFontSize;
    padding: textTableCellPadding;
    border: textTableBorder;
}

.b-text th {
    font-weight: bold;
    background: textTableHeaderBG;
    text-align: left;
}

.b-text address {
    display: block;
    margin-bottom: textBottomMargin;
    line-height: baseLineHeight;
}