/* style.css */



/* b-reset.styl */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}
body {
  font-size: 1em;
  line-height: 1.4;
  background: #fff;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:active {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
ol,
ul {
  list-style: none;
}
label {
  cursor: pointer;
}
legend {
  *margin-left: -7px;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input,
 {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:valid,
textarea:valid {
  background-color: #f0dddd;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.4 0;
  padding: 0;
}
pre,
code,
kbd,
samp {
  font-family: 'courier new', monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}



/* b-grid.styl */

.b-grid {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  *zoom: 1;
}
.b-grid_type_fluid {
  width: 100%;
  min-width: 1000px;
  max-width: 1280px;
}
.b-grid:before,
.b-grid:after {
  display: table;
  content: "";
}
.b-grid:after {
  clear: both;
}
.b-grid__row {
  width: 100%;
  margin-left: -20px;
  *zoom: 1;
}
.b-grid_type_fluid .b-grid__row {
  margin-left: 0;
}
.b-grid__row:before,
.b-grid__row:after {
  display: table;
  content: "";
}
.b-grid__row:after {
  clear: both;
}
.b-grid__column {
  float: left;
  margin-left: 20px;
}
.b-grid_type_fluid .b-grid__column {
  margin-left: 2.127659574468085%;
}
.b-grid_type_fluid .b-grid__column:first-child {
  margin-left: 0;
}
.b-grid__column_size_1 {
  width: 60px;
}
.b-grid__column_size_2 {
  width: 140px;
}
.b-grid__column_size_3 {
  width: 220px;
}
.b-grid__column_size_4 {
  width: 300px;
}
.b-grid__column_size_5 {
  width: 380px;
}
.b-grid__column_size_6 {
  width: 460px;
}
.b-grid__column_size_7 {
  width: 540px;
}
.b-grid__column_size_8 {
  width: 620px;
}
.b-grid__column_size_9 {
  width: 700px;
}
.b-grid__column_size_10 {
  width: 780px;
}
.b-grid__column_size_11 {
  width: 860px;
}
.b-grid__column_size_12 {
  width: 940px;
}
.b-grid__offset_size_1 {
  margin-left: 100px;
}
.b-grid__offset_size_2 {
  margin-left: 180px;
}
.b-grid__offset_size_3 {
  margin-left: 260px;
}
.b-grid__offset_size_4 {
  margin-left: 340px;
}
.b-grid__offset_size_5 {
  margin-left: 420px;
}
.b-grid__offset_size_6 {
  margin-left: 500px;
}
.b-grid__offset_size_7 {
  margin-left: 580px;
}
.b-grid__offset_size_8 {
  margin-left: 660px;
}
.b-grid__offset_size_9 {
  margin-left: 740px;
}
.b-grid__offset_size_10 {
  margin-left: 820px;
}
.b-grid__offset_size_11 {
  margin-left: 900px;
}
.b-grid_type_fluid .b-grid__column_size_1 {
  width: 6.382978723404255%;
}
.b-grid_type_fluid .b-grid__column_size_2 {
  width: 14.893617021276595%;
}
.b-grid_type_fluid .b-grid__column_size_3 {
  width: 23.404255319148934%;
}
.b-grid_type_fluid .b-grid__column_size_4 {
  width: 31.914893617021278%;
}
.b-grid_type_fluid .b-grid__column_size_5 {
  width: 40.42553191489362%;
}
.b-grid_type_fluid .b-grid__column_size_6 {
  width: 48.93617021276595%;
}
.b-grid_type_fluid .b-grid__column_size_7 {
  width: 57.44680851063829%;
}
.b-grid_type_fluid .b-grid__column_size_8 {
  width: 65.95744680851064%;
}
.b-grid_type_fluid .b-grid__column_size_9 {
  width: 74.46808510638297%;
}
.b-grid_type_fluid .b-grid__column_size_10 {
  width: 82.97872340425532%;
}
.b-grid_type_fluid .b-grid__column_size_11 {
  width: 91.48936170212765%;
}
.b-grid_type_fluid .b-grid__column_size_12 {
  width: 100%;
}
.b-grid_type_fluid .b-grid__offset_size_1 {
  margin-left: 10.638297872340425%;
}
.b-grid_type_fluid .b-grid__offset_size_2 {
  margin-left: 19.148936170212764%;
}
.b-grid_type_fluid .b-grid__offset_size_3 {
  margin-left: 27.659574468085104%;
}
.b-grid_type_fluid .b-grid__offset_size_4 {
  margin-left: 36.170212765957444%;
}
.b-grid_type_fluid .b-grid__offset_size_5 {
  margin-left: 44.68085106382979%;
}
.b-grid_type_fluid .b-grid__offset_size_6 {
  margin-left: 53.191489361702125%;
}
.b-grid_type_fluid .b-grid__offset_size_7 {
  margin-left: 61.702127659574465%;
}
.b-grid_type_fluid .b-grid__offset_size_8 {
  margin-left: 70.2127659574468%;
}
.b-grid_type_fluid .b-grid__offset_size_9 {
  margin-left: 78.72340425531915%;
}
.b-grid_type_fluid .b-grid__offset_size_10 {
  margin-left: 87.2340425531915%;
}
.b-grid_type_fluid .b-grid__offset_size_11 {
  margin-left: 95.74468085106383%;
}



/* b-form.styl */




/* b-button.styl */




/* b-text.styl */

.b-text,
.b-text p,
.b-text-p {
  margin: 0 0 1.4;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4;
}
.b-text h1,
.b-text-h1,
.b-text h2,
.b-text-h2,
.b-text h3,
.b-text-h3,
.b-text h4,
.b-text-h4,
.b-text h5,
.b-text-h5,
.b-text h6,
.b-text-h6 {
  text-rendering: optimizelegibility;
  margin: 0 0 1.4;
}
.b-text h1,
.b-text-h1 {
  font: bold 30px/1.4 Helvetica, Arial, sans-serif;
  color: #000;
}
.b-text h2,
.b-text-h2 {
  font: bold 24px/2.8 Helvetica, Arial, sans-serif;
  color: #000;
}
.b-text h3,
.b-text-h3 {
  font: bold 18px/2.8 Helvetica, Arial, sans-serif;
  color: #000;
}
.b-text h4,
.b-text-h4 {
  font: bold 14px/1.4 Helvetica, Arial, sans-serif;
  color: #000;
}
.b-text h5,
.b-text-h5 {
  font: bold 14px/1.4 Helvetica, Arial, sans-serif;
  color: #000;
}
.b-text h6,
.b-text-h6 {
  font: bold 14px/1.4 Helvetica, Arial, sans-serif;
  color: #000;
}
.b-text ul,
.b-text ol,
 {
  padding: 0;
  margin: 0 0 1.4 25px;
}
.b-text ul ul,
.b-text ul ol,
.b-text ol ol,
.b-text ol ul {
  margin-bottom: 0;
}
.b-text ul {
  list-style: disc;
}
.b-text ol {
  list-style: decimal;
}
.b-text li {
  line-height: 1.4;
}
.b-text dl {
  margin-bottom: 1.4;
}
.b-text dt,
.b-text dd {
  line-height: 1.4;
}
.b-text dt {
  font-weight: bold;
  line-height: 0.3999999999999999;
}
.b-text dd {
  margin-left: 1.4;
}
.b-text abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #ddd;
}
.b-text blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 1.4;
  border-left: 5px solid grayLighter;
}
.b-text q:before,
.b-text q:after,
.b-text blockquote:before,
.b-text blockquote:after,
.b-text address {
  display: block;
  margin-bottom: 1.4;
  font-style: normal;
  line-height: 1.4;
}



/* b-rub.styl */

@font-face {
  font-family: 'b-rub_font_arial';
  font-weight: "bold";
  font-style: "normal";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_arial/b-rub_font_arial_type_bold.woff") format('woff'), url("_b-rub/_font_arial/b-rub_font_arial_type_bold.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_arial';
  font-weight: "normal";
  font-style: "italic";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_arial/b-rub_font_arial_type_italic.woff") format('woff'), url("_b-rub/_font_arial/b-rub_font_arial_type_italic.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_arial';
  font-weight: "bold";
  font-style: "italic";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_arial/b-rub_font_arial_type_bolditalic.woff") format('woff'), url("_b-rub/_font_arial/b-rub_font_arial_type_bolditalic.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_arial';
  font-weight: "normal";
  font-style: "normal";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_arial/b-rub_font_arial_type_regular.woff") format('woff'), url("_b-rub/_font_arial/b-rub_font_arial_type_regular.ttf") format('truetype');
}
.b-rub_font_arial {
  font-family: 'b-rub_font_arial';
}
@font-face {
  font-family: 'b-rub_font_georgia';
  font-weight: "bold";
  font-style: "normal";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_georgia/b-rub_font_georgia_type_bold.woff") format('woff'), url("_b-rub/_font_georgia/b-rub_font_georgia_type_bold.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_georgia';
  font-weight: "normal";
  font-style: "italic";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_georgia/b-rub_font_georgia_type_italic.woff") format('woff'), url("_b-rub/_font_georgia/b-rub_font_georgia_type_italic.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_georgia';
  font-weight: "bold";
  font-style: "italic";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_georgia/b-rub_font_georgia_type_bolditalic.woff") format('woff'), url("_b-rub/_font_georgia/b-rub_font_georgia_type_bolditalic.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_georgia';
  font-weight: "normal";
  font-style: "normal";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_georgia/b-rub_font_georgia_type_regular.woff") format('woff'), url("_b-rub/_font_georgia/b-rub_font_georgia_type_regular.ttf") format('truetype');
}
.b-rub_font_georgia {
  font-family: 'b-rub_font_georgia';
}
@font-face {
  font-family: 'b-rub_font_tahoma';
  font-weight: "bold";
  font-style: "normal";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_tahoma/b-rub_font_tahoma_type_bold.woff") format('woff'), url("_b-rub/_font_tahoma/b-rub_font_tahoma_type_bold.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_tahoma';
  font-weight: "normal";
  font-style: "normal";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_tahoma/b-rub_font_tahoma_type_regular.woff") format('woff'), url("_b-rub/_font_tahoma/b-rub_font_tahoma_type_regular.ttf") format('truetype');
}
.b-rub_font_tahoma {
  font-family: 'b-rub_font_tahoma';
}
@font-face {
  font-family: 'b-rub_font_bold';
  font-weight: "normal";
  font-style: "italic";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_bold/b-rub_font_bold_type_italic.woff") format('woff'), url("_b-rub/_font_bold/b-rub_font_bold_type_italic.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_bold';
  font-weight: "bold";
  font-style: "italic";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_bold/b-rub_font_bold_type_bolditalic.woff") format('woff'), url("_b-rub/_font_bold/b-rub_font_bold_type_bolditalic.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_bold';
  font-weight: "normal";
  font-style: "normal";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_bold/b-rub_font_bold_type_regular.woff") format('woff'), url("_b-rub/_font_bold/b-rub_font_bold_type_regular.ttf") format('truetype');
}
.b-rub_font_bold {
  font-family: 'b-rub_font_bold';
}
@font-face {
  font-family: 'b-rub_font_bold';
  font-weight: "normal";
  font-style: "italic";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_bold/b-rub_font_bold_type_italic.woff") format('woff'), url("_b-rub/_font_bold/b-rub_font_bold_type_italic.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_bold';
  font-weight: "bold";
  font-style: "italic";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_bold/b-rub_font_bold_type_bolditalic.woff") format('woff'), url("_b-rub/_font_bold/b-rub_font_bold_type_bolditalic.ttf") format('truetype');
}
@font-face {
  font-family: 'b-rub_font_bold';
  font-weight: "normal";
  font-style: "normal";
  src: url("fontFaceEot");
  src: url("fontFaceEot?#iefix") format('embedded-opentype'), url("_b-rub/_font_bold/b-rub_font_bold_type_regular.woff") format('woff'), url("_b-rub/_font_bold/b-rub_font_bold_type_regular.ttf") format('truetype');
}
.b-rub_font_bold {
  font-family: 'b-rub_font_bold';
}






