// font analogs list http://my.opera.com/area42/blog/css-font-matching-windows-mac-and-linux
// for more fonts see http://www.apaddedcell.com/web-fonts , http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html

$fontArial       = Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
$fontCourier     = "Courier New", Courier, FreeMono, "Nimbus Mono L", "Liberation Mono", monospace;
$fontGeorgia     = Georgia, "Bitstream Charter", "Century Schoolbook L", "Liberation Serif", Times, serif;
$fontLucidia     = "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
$fontLucidiaMono = "Lucida Console", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", monospace;
$fontPalatino    = Palatino, "Palatino Linotype", Palladio, "URW Palladio L", "Book Antiqua", "Liberation Serif", Times, serif;
$fontTahoma      = Tahoma, Geneva, "DejaVu Sans Condensed", sans-serif;
$fontTimes       = "Times New Roman", Times, "Nimbus Roman No9 L", "FreeSerif", "Liberation Serif", serif;
$fontVerdana     = Verdana, "Bitstream Vera Sans", "DejaVu Sans", "Liberation Sans", Geneva, sans-serif;

$fontSerif = $fontGeorgia;
$fontSans  = $fontArial;
$fontMono  = $fontCourier;

$verticalRythmBase = 24px;

$baseFontSize   = 16px;
$baseFontFamily = $fontSans;
$baseLineHeight = ($verticalRythmBase/$baseFontSize)em;
$baseTextColor  = #000;
$baseBackground = #fff;
$baseHrColor    = #ccc;

$selectionBG = #b3d4fc;


// Grid

$gridColumnWidth = 60px;
$gridGutterWidth = 20px;

columns( $count )
    width: $gridColumnWidth * $count + $gridGutterWidth * ( $count - 1 );
    margin-right: $gridGutterWidth;
    float: left;
