baseFontSize   = 1em;
baseFontFamily = fontSans;
baseLineHeight = 1.4;
baseTextColor  = #000;
baseBackground = #fff;
baseHrColor    = #ccc;

fontSerif = serif;
fontSans  = Helvetica, Arial, sans-serif;
fontMono  = 'courier new', monospace, serif;


linkNormal  = #00e;
linkVisited = #551a8b;
linkActive  = #06e;
linkHover   = #06e;


formsValid   = #f0dddd;
formsInvalid = #f0dddd;


selectionBG = #b3d4fc;


// Grid

gridColumns = 12;

gridColumnWidth = 60px;
gridGutterWidth	= 20px;

gridContainerWidth = gridColumns * gridColumnWidth + (gridColumns - 1) * gridGutterWidth;

gridContainerPadding = 0;

fluidGridContainerMinWidth = gridContainerWidth;
fluidGridContainerMaxWidth = 1280px;

fluidGridColumnWidth = gridColumnWidth / gridContainerWidth * 100;
fluidGridGutterWidth = gridGutterWidth / gridContainerWidth * 100;


// Text decoration

textHeaderFontFamily = baseFontFamily;
textHeaderFontWeight = bold;
textHeaderColor      = baseTextColor;

textH1FontFamily = textHeaderFontFamily;
textH1FontSize   = 30px;
textH1LineHeight = baseLineHeight * 2;
textH1FontWeight = textHeaderFontWeight ;
textH1Color      = textHeaderColor;

textH2FontFamily = textHeaderFontFamily;
textH2FontSize   = 24px;
textH2LineHeight = baseLineHeight * 2;
textH2FontWeight = textHeaderFontWeight ;
textH2Color      = textHeaderColor;

textH3FontFamily = textHeaderFontFamily;
textH3FontSize   = 18px;
textH3LineHeight = baseLineHeight * 2;
textH3FontWeight = textHeaderFontWeight ;
textH3Color      = textHeaderColor;

textH4FontFamily = textHeaderFontFamily;
textH4FontSize   = 14px;
textH4LineHeight = baseLineHeight;
textH4FontWeight = textHeaderFontWeight ;
textH4Color      = textHeaderColor;

textH5FontFamily = textHeaderFontFamily;
textH5FontSize   = 14px;
textH5LineHeight = baseLineHeight;
textH5FontWeight = textHeaderFontWeight;
textH5Color      = textHeaderColor;

textH6FontFamily = textHeaderFontFamily;
textH6FontSize   = 14px;
textH6LineHeight = baseLineHeight;
textH6FontWeight = textHeaderFontWeight;
textH6Color      = textHeaderColor;


// b-rub: ruble symbol

// select desired types for given fonts

rubArial   = (arial bold italic bolditalic regular)
rubGeorgia = (georgia bold italic bolditalic regular)
rubTahoma  = (tahoma bold regular)
rubTimes   = (times bold italic bolditalic regular)
rubVerdana = (verdana bold italic bolditalic regular)

// select desired font to include

rubFonts = (rubArial rubGeorgia rubTahoma rubTimes rubVerdana)


