/* /Users/iadramelk/Sites/jbp/blocks/i-reset/i-reset.styl */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #000;
}
body {
  font-size: 16px;
  line-height: 1.5em;
  background: #fff;
}
::-moz-selection {
  background: #b3d4fc;
}
::selection {
  background: #b3d4fc;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
ul {
  list-style: none;
}
legend {
  white-space: normal;
  margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  width: 13px;
  height: 13px;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn,
em,
i {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.5em 0;
  padding: 0;
}
pre,
code,
kbd,
samp {
  font-family: "Courier New", Courier, FreeMono, "Nimbus Mono L", "Liberation Mono", monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}


/* /Users/iadramelk/Sites/jbp/blocks/b-text/b-text.styl */

.b-text p,
.b-text-p {
  margin-bottom: 12px;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.b-text h1,
.b-text-h1,
.b-text h2,
.b-text-h2,
.b-text h3,
.b-text-h3,
.b-text h4,
.b-text-h4,
.b-text h5,
.b-text-h5,
.b-text h6,
.b-text-h6 {
  text-rendering: optimizelegibility;
  margin-top: 24px;
  margin-bottom: 12px;
}
.b-text h1 a,
.b-text-h1 a,
.b-text h2 a,
.b-text-h2 a,
.b-text h3 a,
.b-text-h3 a,
.b-text h4 a,
.b-text-h4 a,
.b-text h5 a,
.b-text-h5 a,
.b-text h6 a,
.b-text-h6 a {
  color: inherit;
  text-decoration: none;
}
.b-text h1:first-child,
.b-text-h1:first-child,
.b-text h2:first-child,
.b-text-h2:first-child,
.b-text h3:first-child,
.b-text-h3:first-child,
.b-text h4:first-child,
.b-text-h4:first-child,
.b-text h5:first-child,
.b-text-h5:first-child,
.b-text h6:first-child,
.b-text-h6:first-child {
  margin-top: 0;
}
.b-text h1,
.b-text-h1 {
  font: normal 48px/70px Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #000;
  border-bottom: 2px solid #000;
  margin-bottom: 24px;
}
.b-text h2,
.b-text-h2 {
  font: bold 36px/36px Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #000;
}
.b-text h3,
.b-text-h3 {
  font: normal 24px/24px Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #c00;
}
.b-text h4,
.b-text-h4 {
  font: bold 18px/24px Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #000;
}
.b-text h5,
.b-text-h5 {
  font: normal 16px/24px Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #000;
}
.b-text h6,
.b-text-h6 {
  font: normal 16px/24px Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #000;
}
.b-text ul,
.b-text ol {
  padding: 0;
  margin: 0 0 12px 36px;
}
.b-text ul ul,
.b-text ul ol,
.b-text ol ol,
.b-text ol ul {
  margin-bottom: 0;
}
.b-text ul {
  list-style: none;
}
.b-text ul > li:before {
  content: '\2014\a0';
  float: left;
  margin-left: -1.25em;
}
.b-text ol {
  list-style: decimal;
}
.b-text li {
  line-height: 24px;
}
.b-text dl {
  margin-bottom: 12px;
}
.b-text dt,
.b-text dd {
  line-height: 24px;
}
.b-text dt {
  font-weight: bold;
  line-height: 23px;
}
.b-text dd {
  margin-left: 24px;
}
.b-text abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
.b-text pre {
  padding: 12px 24px;
  margin-bottom: 12px;
  border-left: 2px solid #c00;
  background: #eee;
  font-size: 14px;
}
.b-text blockquote {
  padding: 24px;
  margin-bottom: 12px;
  border-left: 5px solid #000;
}
.b-text q:before,
.b-text q:after,
.b-text blockquote:before,
.b-text blockquote:after,
.b-text small {
  font-size: 0.85em;
}
.b-text table {
  margin-bottom: 12px;
}
.b-text th,
.b-text td {
  font-size: 13px;
  padding: 0 5px;
  border: 1px solid #ccc;
}
.b-text th {
  font-weight: bold;
  background: #eee;
  text-align: left;
}
.b-text address {
  display: block;
  margin-bottom: 12px;
  line-height: 24px;
}


